<body style="height:700px;">
    
<!--<h2>"ESA Service Portal"</h2>-->

<div class="loginBox"  id="loginBoxjs">
<a href="https://www.google.com/maps/@28.6597915,77.4816687,10z" target="blank"><img id="imgAnimate" src="assets/images/login-imgs/W31X.gif" class="user" title="google map"></a>
<br>
<h4>Log In Here</h4>
<br><br>
<form [formGroup]="angForm" (ngSubmit)="postdata()" autocomplete="off" >


  
<p>User Name :</p>

<input type="text" formControlName="username" placeholder="Enter Username" autocomplete="off">
<div *ngIf="usnameError" class="error">{{ usnameError }}</div>

<p>Password :</p>
<input type="password" formControlName="password" name="password" placeholder="Enter Password" autocomplete="off">
<span  *ngIf="passError" class="error">{{ passError }}</span>
<!-- <div *ngIf="error" class="error-message">{{ error }}</div> -->
<br><br>

  <br><br>
<div style="text-align:center;"><input type="submit"  value="Login" title="click here to login"></div>
<p style="text-align:center;">------- or --------</p>
<div style="text-align:center;"><a id="hidelogin" routerLink="../register" rel="modal:open" title="click here to register">
<input type="button" value="Sign up"></a></div>
<br><br>
<div style="text-align:center;"><a id="hideloginFB" routerLink="../forget_password" title="click here to reset password">Forget Password</a>
</div>
</form>
<div *ngIf="error" class="error">{{ error }}</div>
</div>
<marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">Data available at this portal is as per CPCB prescribed procedure published at <a href="https://www.cpcb.nic.in/" target="blank">www.cpcb.nic.in</a></marquee>

</body>