.dropdown-content {

    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: 175px;
    position: relative;
    overflow-y: auto;
    margin-top: 2px;
  }
  .checkbox.checked input[type="checkbox"] {
    border: 2px solid blue;
  }
  
  input[type="checkbox"]{
    margin: 5px;
  }
  .checkbox{
  display: flex; margin: 2px;
  
  }
  
  .ui-multiselect-menu {
   
    border-radius: 3px;
    border: 1px solid #aaaaaa;
    font-size: 1.1em;
    margin: 0.3px;
    width: 229.667px;
    position: absolute;
    z-index: 10000;
    text-align: left;
    font-family: Verdana, Arial, sans-serif;
  
  }
  img {
    vertical-align: middle;
  }
  
  .tooltip .tooltiptext {
    text-align: left;
   visibility: hidden;
    width: 160px;
    height: 130px;
    overflow: scroll;
  
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
   bottom: 85%;
    left: 50%;
    margin-left: -60px;
   
  }
  
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  
  }
  
  .tooltip{
  position: relative;
  display: inline-block;
  line-height: 2.4;
  opacity: 1;
  
  }
  
  .ui-multiselect-filter {
    margin: 5px;
    font-size: 11px;
    padding: 3px 0 3px 4px;
    border-radius: 3px;
    background-color: #aaaaaa;
    color: #222222;
  
  }
  .mat-flat-button[_ngcontent-opm-c131],
  .mat-flat-button.success-button {
      width: 217px;
      margin: 8px;
      border-radius: 4px;
      padding: 2px 0 2px 4px;
      text-align: left;
      
  }
  
  .mat-flat-button[_ngcontent-opm-c131] {
      color: #003eff; 
  }
  
  .mat-flat-button.success-button {
      background-color: #33A1DE; /* Background color for success */
      color: white; /* Text color for success */
      border: 1px solid #33A1DE; /* Border color for success */
  }
  .mat-flat-button {
  
    width: 217px;
    margin: 8px;
    color: rgb(0, 62, 255);
    border-radius: 4px;
    padding: 2px 0 2px 4px;
    text-align: left;
  
  }
  
  .ui-helper-reset {
    display: flex;
    justify-content: space-around;
  }
  .ui-multiselect-header span.ui-icon {
    float: left;
  }
  
  .ui-widget-content .ui-icon {
    background-image: url(/assets/images2/icons/ui-icons_222222_256x240.png);
    
  }
  
  .ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff url(/assets/images2/icons/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222222;
    
  }
  .ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #cccccc url(/assets/images2/icons/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    color: #222222;
    font-weight: bold;
  }
  
  .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
  }
  .ui-icon-check {
    background-position: -64px -144px;
  }
  .ui-icon {
    width: 16px;
    height: 16px;
   
  }
  .ui-multiselect-header span.ui-icon {
    float: left;
  }
  
  .ui-icon-closethick {
    background-position: -96px -128px;
  }
  
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  a:hover, a:focus {
    color: #2a6496;
    text-decoration: underline;
  }
  
  .ui-widget-header a {
    color: #222222;
  }
  .ui-widget-content a {
    color: #222222;
  }
  
  
  
  a {
    color: #337ab7;
    text-decoration: none;
    display: flex;
  }
  
  
  .ui-multiselect-header ul {
    font-size: 0.9em;
  }
  .ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
  }
  
  ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    min-width: 15em;
    z-index: 1;
  }
  
  
  .ui-multiselect-menu {
  
    padding: 3px;
    position: absolute;
    z-index: 10000;
    text-align: left;
  }
  
  .ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
  }
  .ui-multiselect-header ul {
    font-size: 0.9em;
  }
  .ui-multiselect-header li.ui-multiselect-close {
    float: right;
    text-align: right;
    padding-right: 0;
  }
  .ui-multiselect-header ul li {
    float: left;
    padding: 0 10px 0 0;
  }
  .ui-icon-circle-close {
    background-position: -32px -192px;
  }