<form [formGroup]="searchForm">

  <div class="col-md-12" style="border: 1px solid lightgray;border-radius: 5px; display: flex; margin-bottom: 4px;">

      <input type="hidden" name="category" id="category">
      <div class="col-md-2" style="width:19.7%;">
          <div class="input-group">
              <strong>Select States(s)</strong>

              <span *ngIf="selectedState.length > 0">{{ selectedState.length }}</span>
              <button class="mat-flat-button" [class.success-button]="buttonClickedState"
                  (click)="onClickButtonState(); toggleDropdownState()">
                  <span>{{ selectedState.length > 0 ? (selectedState.length === 1 ? '1 Select option' :
                      selectedState.length + ' Select option') : 'Select option' }}</span>


              </button>


          </div>
          <div class="tooltip" [class.visible]="tooltipVisible">
              <img src="/assets/images2/icons/info-icon-23.png" height="20" width="20" alt="info icon">
              <span class="tooltiptext">
                  <u>Selected States</u>
                  <p *ngFor="let control of selectedState.controls">
                      {{ control.value.name }}
                  </p>
              </span>
          </div>





          <div class="ui-multiselect-menu ui-widget ui-widget-content ui-corner-all" *ngIf="dropdownOpenState">
              <div class="ui-multiselect-filter">
                  Filter:
                  <input matInput placeholder="Enter keywords" type="search"
                      (input)="applyFilterState($event.target.value)">

                  <ul class="ui-helper-reset">
                      <li>
                          <a class="ui-multiselect-all" href="javascript:void(0)" *ngIf="selectAllVisibleState"
                              (click)="selectAllState()">
                              <span class="ui-icon ui-icon-check"></span>
                              <span>Check all</span>
                          </a>
                      </li>
                      <li><a class="ui-multiselect-none" href="javascript:void(0)" *ngIf="uncheckAllVisibleState"
                              (click)="uncheckAllState()"><span
                                  class="ui-icon ui-icon-closethick"></span><span>Uncheck all</span></a>
                      </li>



                      <li class="ui-multiselect-close"><a href="javascript:void(0)" class="ui-multiselect-close"
                              (click)="closeDropdownState()">
                              <span class="ui-icon ui-icon-circle-close"></span></a></li>

                  </ul>
              </div>
              <div *ngIf="dropdownOpenState" class="dropdown-content">
                  <div class="input_select">

                      <label *ngFor="let state of filteredStates" class="checkbox">
                          <input type="checkbox" [value]="state.id" [checked]="state.checked"
                              (change)="toggleStateCheckbox(state.id)">
                          {{ state.name }}
                      </label>
                  </div>
              </div>
          </div>



      </div>


      <div class="col-md-2" style="width:19.7%;">
          <div class="input-group">
              <strong>Select City(ies)</strong>

              <span *ngIf="selectedCities.length > 0">{{ selectedCities.length }}</span>

              <button class="mat-flat-button" [class.success-button]="buttonClickedCity"
              (click)="onClickButtonCity(); toggleDropdownCity()">
                  <span>{{ selectedCities.length > 0 ? (selectedCities.length === 1 ? '1 Select option' :
                      selectedCities.length + ' Select option') : 'Select option' }}</span>


              </button>
          </div>
          <div class="tooltip" [class.visible]="tooltipVisible">
              <img src="/assets/images2/icons/info-icon-23.png" height="20" width="20" alt="info icon">
              <span class="tooltiptext">
                  <u>Selected Cities</u>
                  <p *ngFor="let control of selectedCities.controls">
                      {{ control.value.name }}
                  </p>
              </span>
          </div>

          <div class="ui-multiselect-menu ui-widget ui-widget-content ui-corner-all" *ngIf="dropdownOpenCity">
              <div class="ui-multiselect-filter">
                  Filter:
                  <input matInput placeholder="Enter keywords" type="search"
                      (input)="applyFilterCity($event.target.value)">

                  <ul class="ui-helper-reset">
                      <li><a class="ui-multiselect-all" href="javascript:void(0)" *ngIf="selectAllVisible"
                              (click)="selectAllCities()">
                              <span class="ui-icon ui-icon-check"></span>
                              <span>Check all</span>
                          </a>
                      </li>
                      <li><a class="ui-multiselect-none" href="javascript:void(0)" *ngIf="uncheckAllVisible"
                              (click)="uncheckAllCities()"><span
                                  class="ui-icon ui-icon-closethick"></span><span>Uncheck all</span></a>
                      </li>

                      <li class="ui-multiselect-close"><a href="javascript:void(0)" class="ui-multiselect-close"
                              (click)="closeDropdownCity()">
                              <span class="ui-icon ui-icon-circle-close"></span></a></li>

                  </ul>
              </div>
              <div *ngIf="dropdownOpenCity" class="dropdown-content">
                  <div class="input_select">

                      <label *ngFor="let city of filteredCities" class="checkbox">
                          <input type="checkbox" [value]="city.id" [checked]="city.checked"
                              (change)="toggleCityCheckbox(city.id)">
                          {{ city.name }}
                      </label>
                  </div>
              </div>
          </div>



      </div>

  </div>
</form>