<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
	<div class="breadcrumb-title pe-3">ng-Components</div>
	<div class="ps-3">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0 p-0">
				<li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i class="bx bx-home-alt"></i></a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Alert</li>
			</ol>
		</nav>
	</div>
	<div class="ms-auto">
		<div class="btn-group" ngbDropdown>
			<button type="button" class="btn btn-primary">Settings</button>
			<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" id="dropdownBasic1" ngbDropdownToggle>	<span class="visually-hidden">Toggle Dropdown</span>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right dropdown-menu-lg-end">
				<a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
				<a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
				<a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
				<div class="dropdown-divider"></div>
				<a ngbDropdownItem href="#" (click)="$event.preventDefault()">Separated link</a>
			</div>
		</div>
	</div>
</div>
<!--end breadcrumb-->
<div class="card radius-15">
	<div class="card-body">
		<div class="card-title">
			<h4 class="mb-0">Basic Alert</h4>
		</div>
		<hr>
		<p>
			<ngb-alert [dismissible]="false">
			  <strong>Warning!</strong> Better check yourself, you're not looking too good.
			</ngb-alert>
		  </p>
	</div>
</div>
<div class="card radius-15">
	<div class="card-body">
		<div class="card-title">
			<h4 class="mb-0"> Closable Alert</h4>
		</div>
		<hr>
		<p *ngFor="let alert of alerts">
			<ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
		  </p>
		  <p>
			<button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
		  </p>
	</div>
</div>
<div class="card radius-15">
	<div class="card-body">
		<div class="card-title">
			<h4 class="mb-0">Self closing alert</h4>
		</div>
		<hr>
		<ngbd-alert-selfclosing></ngbd-alert-selfclosing>
	</div>
</div>
<div class="card radius-15">
	<div class="card-body">
		<div class="card-title">
			<h4 class="mb-0">Custom alert</h4>
		</div>
		<hr>
		<p>
			<ngb-alert type="custom" [dismissible]="false"><strong>Whoa!</strong> This is a custom alert.</ngb-alert>
		</p>
	</div>
</div>
<div class="card radius-15">
	<div class="card-body">
		<div class="card-title">
			<h4 class="mb-0">Global configuration of alerts</h4>
		</div>
		<hr>
		<p>
			<ngb-alert>This alert's type is success and it's not dismissible because the config has been customized</ngb-alert>
		</p>
	</div>
</div>