
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Skodash-primary: mat.define-palette(mat.$indigo-palette);
$Skodash-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Skodash-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Skodash-theme: mat.define-light-theme((
  color: (
    primary: $Skodash-primary,
    accent: $Skodash-accent,
    warn: $Skodash-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Skodash-theme);


// any default variable overrides here (though functions won't be available)
@import "./scss/variables";

// all of Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";

// Bootstrap class overrides here
@import "./scss/custom-bootstrap";

// custom class are here
@import "./scss/core";

// plugins css , scss here
@import "./scss/plugins";

// themeing 
@import "./scss/dark-theme";
@import "./scss/light-theme";
@import "./scss/semi-dark";
@import "./scss/header-colors";
